#title {
    
    transform: scale(1);
    text-align: center;
    font-weight: 100;
    font-size: 60px;
    color: rgb(103, 103, 103);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
    background-color: rgb(231, 231, 231);
    margin-top: 2%;
    font-family: sans-serif;
    height: 700px;
    margin-bottom: 3%;
}

#inter {
    background-color: transparent;
    width: 15px;
    height: 20px;
}

table {
    
    cursor: pointer;
    width: 90%;
    height: 90%;
}

.noborder {

    border: none;
}

.number {
    padding-left: 5px;
    padding-top: 5px;
    font-size: small;
}

.simble {

    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
}

.name {

    padding-left: 5px;
    padding-bottom: 5px;
    font-size: x-small;
}

#Hidrogenio {
    background-color: rgb(138, 255, 138);
}

.Mta {
    background-color: rgb(255, 184, 78);
}

.Mtat {
    background-color: rgb(255, 252, 78);
}

.Mt {
    background-color: rgb(255, 98, 106);
}

.Om {
    background-color: lightblue;
}

.Sm {
    background-color: rgb(96, 184, 178);
}

.Nm {
    background-color: limegreen;
}

.Ha {
    background-color: rgb(0, 191, 255);
}

.Gn {
    background-color: rgb(80, 118, 255);
}

.Lt {
    background-color: aqua;
}

.Ac {
    background-color: rgb(187, 137, 187);
}

#space {
    height: 45px;
}

#Mta {
    padding: 5%;
    font-size: xx-large;
    color: rgb(255, 184, 78);
}

#Mtat {
    text-align: center;
    padding: 5%;
    font-size: xx-large;
    color: rgb(255, 252, 78);
}

#Mt {
    padding: 5%;
    font-size: xx-large;
    color: rgb(255, 98, 106);
}

#Om {
    padding: 5%;
    font-size: xx-large;
    color: lightblue;
}

#Sm {
    padding: 5%;
    font-size: xx-large;
    color: rgb(96, 184, 178);
}

#Nm {
    background-color: transparent;
    padding: 5%;
    font-size: xx-large;
    color: limegreen;
}

#Ha {
    padding: 5%;
    text-align: center;
    font-size: xx-large;
    color: rgb(0, 191, 255);
}

#Gn {
    padding: 5%;
    font-size: xx-large;
    color: rgb(80, 118, 255);
}

#Lt {
    padding: 5%;
    font-size: xx-large;
    color: aqua;
}
.aumentar{
   
    text-align: center;
    border-radius: 5px;
    width: 70px;
    height: 70px;
}
.aumentar:hover {
    box-shadow: 5px 5px 15px;
    transform: scale(1.2);
    z-index: 1;

}

#Ac {
    padding: 5%;
    font-size: xx-large;
    color: rgb(187, 137, 187);
}

#latanideos {
    position: relative
}

#latanideos img {
    position: absolute;
}

#actinideos {
    position: relative
}

#actinideos img {
    position: absolute;
}


.classe_expandir {
    box-shadow: 5px 5px 15px;
    transform: scale(1.15)
}

.colunas {
    font-weight: bold;
    text-align: center;
    height: 20px;
    background-color: rgba(199, 199, 199, 0.742);

}

.linhas {
    font-weight: bold;
    text-align: center;
    width: 10px;
    background-color: rgba(199, 199, 199, 0.742);
}

.nomes {

    box-shadow: none;
    font-weight: 800;
    text-align: center;
}

#destinationCell {
    width: 140px; 
    height: 140px; 
    text-align: center;  
    
}
